body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: minmax(35px, 1fr) repeat(3, minmax(100px, 4fr)) minmax(35px, 1fr);
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.header-left, .header-middle, .header-right, .footer-left, .footer-middle, .footer-right {
    margin: auto;
    font-weight: bold;
}

.cell0 {
    border: 2px solid black;
    border-top: 0;
    border-left: 0;
    align-content: center;
    text-align: center;
}

.cell1 {
    border: 2px solid black;
    border-top: 0;
    align-content: center;
    text-align: center;
}

.cell2 {
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    align-content: center;
    text-align: center;
}

.cell3 {
    border: 2px solid black;
    border-left: 0;
    align-content: center;
    text-align: center;
}

.cell4 {
    border: 2px solid black;
    align-content: center;
    text-align: center;
}

.cell5 {
    border: 2px solid black;
    border-right: 0;
    align-content: center;
    text-align: center;
}

.cell6 {
    border: 2px solid black;
    border-bottom: 0;
    border-left: 0;
    align-content: center;
    text-align: center;
}

.cell7 {
    border: 2px solid black;
    border-bottom: 0;
    align-content: center;
    text-align: center;
}

.cell8 {
    border: 2px solid black;
    border-bottom: 0;
    border-right: 0;
    align-content: center;
    text-align: center;
}

.x::after {
    content: "X";
    font-size: 10vw;
    font-weight: bold;
    color: black;
}

.o::after {
    content: "O";
    font-size: 10vw;
    font-weight: bold;
    color: red;
}

.dim::after {
    opacity: 0.1;
}
